.cardItem {
  background: #14213D !important;
  margin-top: .25rem;
}

.expenseCost {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

.icon {
  padding-top: 5px;
}

.calendarItems {
  height: 240px;
  overflow: scroll;
}