.main {
    min-height: 100vh;
    padding: 1rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main form {
    width: 350px;
}

.container {
    background: #14213D;
}